body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
